---
import App from '../../layouts/App.astro';
import { getCollection } from 'astro:content';

const songs = await getCollection('songs');
songs.sort((a, b) => a.data.title.localeCompare(b.data.title));
const base = import.meta.env.BASE_URL.endsWith('/')
  ? import.meta.env.BASE_URL
  : `${import.meta.env.BASE_URL}/`;
---

<App>
  <Fragment slot="head">
    <title>Songs</title>
  </Fragment>
  <h1 class="mb-4 text-2xl font-bold">Songs</h1>
  <ul class="space-y-1">
    {songs.map((song) => (
      <li>
        <a href={`${base}songs/${song.slug}/`}>{song.data.title}</a>
        {song.data.key && ` – ${song.data.key}`}
      </li>
    ))}
  </ul>
  <p class="mt-8"><a href={base}>Go back</a></p>
</App>
